*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    height: 60px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: flex;
    justify-content: start;
    padding: 15px;
    align-items: center;
}

header .logo i{
    color: #82b441;
    padding-right: 4px;
}

header .logo p{
    color: #fcfcfc;
    font-size: 24px;
}

header .logo p span{
    color: #658838;
}

header button{
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #82b441;
    color: #fcfcfc;
    cursor: pointer;
    transition: 0.6s;
}

header button:hover{
    background-color: #658838;
}

.container nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
}

/* center h1 and p in same vertical center*/



.container nav .navText{
    margin-left: 230px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container nav .navText h1{
    color: #5cd2b8;
    font-size: 50px;
    font-weight: 700;
}

.container nav .navText p{
    font-size: 6px;
    color: #dcdcdc;
    letter-spacing: 5px;
    padding: 0 auto;
}

.container nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 240px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.container nav ul li{
    color: #fcfcfc;
    padding: 0 18px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 38px;
}

.container nav ul li a{
    text-decoration: none;
    color: #fcfcfc;
}

.container nav ul .search{
    color: #54cdaf;
    padding-top: 40px;
    padding-left: 40px;
}

.main{
    height: 100vh;
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.main::after {
    content: "";
    position: absolute;
    top: 180px; /* تعديل الموضع لضمان ظهوره */
    right: -140px;
    width: 30%; 
    /* height: 100px; */
    box-shadow: rgba(54, 180, 159, 0.17) 10px 10px calc(100vh) calc(25vw);
    background-color: transparent;
}



.main .text{
    color: #fff;
    width: 40%;
    height: 100%;
    margin-top: 280px;
}

.main .image{
    width: 30%;
    margin-right: 120px;
}

.main .text .pg1MainContent h3{
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 50px;
    color: #5acfb6;
}

.main .text .pg1MainContent h1{
    font-size: 60px;
}

.main .text .pg1MainContent h1 span{
    color: #5cd2b8;
}
.main .text .pg1MainContent {
    position: relative;
    display: block;
}

.main .text .pg1MainContent::after {
    content: "";
    width: 120px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin: 30px 0; /* Optional: Adjust for spacing */
}

.main .text p{
    line-height: 30px;
    width: 420px;
}


.pg1About{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 80px 0 40px 30px;
}


.pg1About .display{
    background-color: #5cd2b8;
    padding: 20px;
    border-radius: 50%;
    box-shadow: #5cd2b8 0px 0px 7px 4px;
    border: 4px solid #3a8272;
    margin-right: 30px;
    cursor: pointer;
}

.pg1About .aboutText{
    color: #eeeeee;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 20px;
}

.pg1About .highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main .text hr{
    position: absolute;
    width: 145px;
    height: 3px;
    background-color: #2e2e2e;
    border: none;
    margin-left:15%;
    bottom: -20px;
    left: -25px;
}

.main .text .promotion{
    margin-left: 17%;
    color: #58cab1;
}

/* screen 2 ----------------------------------------------*/
.services-section {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    padding: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
}
.services-intro {
    padding: 50px 100px 0px 100px;
    color: #dee9e7;
    font-size: 18px;
    margin-bottom: 10px;
    transform: translate(0, 25px);
}

.services-intro .we-do{
    position: relative;
    display: block;
}

.services-intro .we-do::after{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin: 30px 0; /* Optional: Adjust for spacing */
}


/* check of h4 place here if there problem */

.services-intro h4{
    color: #76c6b8;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.services-intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.services-intro h1 span {
    color: #76c6b8;
}
.services-intro p {
    line-height: 1.6;
    margin-bottom: 15px;
}
.view-all-btn {
    display: inline-block;
    padding: 20px 20px;
    background-color: #76c6b8;
    color: #faf9f9;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0;
    margin-top: 40px;
}
.services-grid {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.service-box {
    /* background-image: linear-gradient(to top ,#142c27 ,#0c0c0c); */

    background-color: #0c0c0c;
    margin: 10px auto;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.service-box .brandImg{
    width: 150px;
    background-color: transparent;
    color: #5cd2b8;
}

.services-grid .iconLight{
    background-image: linear-gradient(to top, #142c27 30%, #0c0c0c 60%);
}

.services-grid .translate{
    transform: translate(30px, -28px);
}

.services-grid .service-box h3{
    color: #f8f9f7 !important;
}

.services-grid .service-box p{
    color: #929594 !important;
}


.service-box {
    font-size: 40px;
    margin-bottom: 20px;
    color: #76c6b8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #76c6b8;
}

.service-box p {
    /* problem here */
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #a1d0bc;
    /* margin-block-end: .1rem; */
}
/* screen 3------------------------------------------- */



/* About Section */

.about-section{
    height: 100vh;
    background-color: #0c0c0c;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about-section .text{
    width: 40%;
    position: absolute;
    right:12%;
    top: 20%;
}

.about-section .text h1{
    position: relative;
    display: block;
}


.about-section .text h1::after{
    content: "";
    width: 120px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin: 30px 0;
}

.about-section .text .content h3{
    color: #5bd0b5;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.about-section .text .content h1{
    font-size: 55px;
    color: #f9f9f9;
}

.about-section .text .content h1 span{
    color: #5bd2b8;
}

.about-section .text .content p{
    color: #939393;
    line-height: 25px;
}

.about-section .text .features{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}

.about-section .text .features .feature{
    display: flex;
    
}

.about-section .text .features .feature .icon img{
    width: 70px;
    margin-right: 12px;
    transform: translate(0, -10px);
}

.about-section .text .features .feature .feature-text h4{
    color: #f7f7f7 ;
    font-size: 20px;
}

.about-section .text .features .feature .feature-text p{
    color: #939393;
    margin-top: 12px;
    line-height: 25px;
}

.about-section .image{
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 12%;
}
/* screen 4------------------------------------------ */
 body .stats-section{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #1b342f 20%, #121212 70%);
    overflow: hidden;
}
.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding: 100px;
    text-align: center;
    position: relative;
    height: 60vh;
  }

  body .stats-section .image{
    position: absolute;
    width: 15%;
    right: 100%;
    bottom: -75%;
    opacity: 0.3;
  }

  .stat {
    background-color: transparent; /* خلفية شفافة للعنصر */
    border-radius: 10px;
    padding: 10px;
    width: 150px;
  } 
.stats-section .stat img {
    width: 90px;
    margin-bottom: 10px;
}
.stats-section  .stat h2 {
    font-size: 50px;
    margin: 10px 0;
    color: #5bd2b8;
  }

  .stats-section  .stat h2 span{
    color: #f7f7f7;
    margin-left: 3px;
  }
  .stat p {
    font-size: 14px;
    color: #f7f7f7;
  }
  /* screen 5---------------------------- */

  /* إعدادات القسم الأساسي */
.latest-project {
    display: flex;
    justify-content: center;  
    padding: 130px 0px 130px 370px;
    max-width: 100%;
    background-color: #000;
    color: #fff;
}
.latest-project .content {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.latest-project .content h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
}

.latest-project .content h1::after{
    content: "";
    width: 82px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin-top: 15px;
    margin-bottom: 60px;
}

.latest-project .content p{
    font-size: 14px;
    line-height: 32px;
    color: #969696;
    margin-bottom: 40px;
}

.latest-project .content .dot::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}
.section-title {
    color: #0ed39f;
    font-size: 18px;
    margin-bottom: 10px;
}
.main-title {
    font-size: 45px;
    margin: 7px 0;
}
.main-title span {
    color: #5cd2b8;
}
.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #c0c0c0;
}
.checklist {
    list-style: none;
    padding: 0;
    color: #ffffff;
}
.checklist .true1 {
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 16px;
}

.about-section .dot::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
    background-color: #fff;
}

.services-section .dot::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
    background-color: #fff;
}

.news-section .dot::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
    background-color: #fff;
}

.checklist .true{
    color: #5cd1b7;
}
/* إعدادات الصور */
.images {
    flex: 1;
    grid-template-columns: repeat(2, );
}
.image-item  img {
    width: 54%;
    height: 41%;
}
.images1 {
    display:flex ;
    padding: 10px;
}
.image-item1 img{
    width: 106%;
    height: 100%;
}
/* screen 6------------------------------------------------ */
 .wrapper{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #121212 30%, #1b342f);
    /* #121212 */
    /* #1b342f */
    overflow: hidden;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper .image{
    position: absolute;
    opacity: 0.3;
}
.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brand img {
    max-width: 280px;
    height: auto;
    filter: grayscale(100%);
}
/* screen 7------------------------------------------------ */
.why-choose-us {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    padding-bottom: 100px;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 125vh;
}

.why-choose-us .image
{
    position: relative;
    transform: translateY(80px);
}

.why-choose-us .image i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border: solid 2px #fff;
    padding: 22px;
    border-radius: 50%;
    
}
.why-choose-us .content{
    margin: 20px;
}

/* but dot in end of span */
.why-choose-us .content h1 .dot::after{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
}
.why-choose-us h4{
    color: #0ed39f;
    font-size: 17px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
.why-choose-us .video-container{
    padding-top: 160px;
}
.why-choose-us h1 {
    font-size: 45px;
    color: #fff;
    margin-bottom: 50px;
}
.why-choose-us h1 span {
    color: #00ffb3;
}
.why-choose-us p {
    margin: 20px 0;
    line-height: 12px !important;
    font-size: 16px;
    color: #c0c0c0;
}
.why-choose-us ul {
    margin-bottom: 30px ;
    margin-top: 100px;
    list-style: none;
    padding: 0;
}
.why-choose-us ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.video-container .true{
    color: #0c0c0c;
    padding: 3px;
    background-color: #5cd2b8;
    border-radius: 50%;
    font-weight: 900;
}


/* our team Section  */

.our-team {
    background-color: #111111;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .our-team .image22 img{
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    background-repeat: repeat-y;
} */

.our-team .head{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team .head .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-team .head .title h4{
    font-size: 14px;
    letter-spacing: 3px;
    color: #5bd1b7;
    margin-bottom: 8px;
}

.our-team .head .title h2{
    font-size: 50px;
    color: #f9f9f9;
    margin-top: 3px;
}

.our-team .head .title h2 span{
    color: #5cd2b8;
}

/* put a circle look like a dot after the span */
.our-team .head .title h2 span::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

/* put a line after title content */

.our-team .head .title h2{
    position: relative;
    display: block;
}

.our-team .head .title h2::after{
    content: "";
    width: 87px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin: 30px 0;
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.our-team .head p{
    text-align: center;
    font-size: 17px;
    color: #949494;
    line-height: 30px;
}

.our-team .cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.our-team .cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* edit hight */
    height: 40%;
    background-color: #151515;
    margin: 20px 10px;
    /* padding: 0, 10px, 50px, 10px; */
    padding-bottom: 60px;
    padding-left: 12px;
    border-radius: 2px;
    position: relative;
    z-index: 677;
}

.our-team .cards .card .image img{
    width: 230px;
    filter: grayscale(100%);
    margin-right: 30px;
    transform: translateY(-5px);
}

.our-team .cards .card .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.our-team .cards .card .content .text h3{
    color: #f9f9f9;

    font-size: 26px;
    margin-top: 12px;
}

.our-team .cards .card .content .text h4{
    color: #4fd1b6;
    font-size: 13px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 42px;
}

.our-team .cards .card .content .text p{
    font-size: 14px;
    color: #949494;
    width: 70%;
    line-height: 25px;
}


/* .our-team .image22{
    position: absolute;
    width: 60%; Takes 25% of the section width
    height: 100%; Stretches across the entire section height
    right: 0;
    background-image: url("assets/imgs/file1.png");
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("assets/imgs/file1.png");
    background-position: right bottom;
    overflow: hidden;
    background-repeat: repeat-y;
    background-size: contain; Adjust background size
    z-index: 1;
} */

.our-team .image22 {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    bottom: 0;
    overflow: hidden; /* Ensure nothing overflows */
}

.our-team .image22::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/imgs/file1.png");
    background-position: right bottom;
    background-repeat: repeat-y;
    background-size: 100% auto;
    opacity: 0.5; /* Decrease opacity */
    z-index: 1; /* Place it behind the container content */
}

.our-team .cards .card .content .social{
    transform: translate(7px, 37px);
}

.our-team .cards .card .content .social i{
    color: #5bd2b8;
    margin-right: 18px;
}


/* Portfolio Section */

.portfolio{
    height: 220vh;
    background-color: #000000;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.portfolio .text{
    width: 50%;

}

.portfolio .text .title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.portfolio .text .title h4{
    font-size: 14px;
    letter-spacing: 4px;
    color: #5bd1b7;
    margin-bottom: 8px;
}

.portfolio .text .title h2{
    font-size: 50px;
    margin-bottom: 15px;
}

.portfolio .text .title h2 span{
    color: #5cd2b8;
}

.portfolio .text .title h2 span::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

.portfolio .text .title h2::after{
    content: "";
    width: 87px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin-top: 12px;
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio .text p{
    text-align: center;
    font-size: 17px;
    color: #949494;
    line-height: 30px;
}

.portfolio .imgs{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.portfolio .imgs .image
{
    width: 33%;
}

.portfolio .imgs .image img{
    width: 95%;
    margin: 10px;
}

/* clients section */

/* .clients{
    height: 72vh;
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    background-image: url("assets/imgs/file.png");
    background-size: 80% auto;
    background-repeat: no-repeat; 
    background-position: center; 
    position: relative;

    z-index: -3;
} */

.clients {
    height: 72vh;
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;    
    position: relative;
    z-index: -3; /* Keeps container below other content */
}

.clients::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/imgs/file.png");
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4; /* Adjust the opacity of the image */
    z-index: -1; /* Ensure it's behind the container content */
}
/* decrease opacity of background image */



.clients .text{
    width: 33%;
    margin-top: 10%;
}

.clients .text h4{
    color: #4fb3a0;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 600;
}

.clients .text h2{
    font-size: 45px;
    color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 25px;
}

.clients .text h2 span{
    color: #5cd2b8;
}

.clients .text h2 .point::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f9f9f9;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}

.clients .text h2::after{
    content: "";
    width: 80px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin-top: 12px;
    
    
}

.clients .text p{
    color: #949494;
    font-size: 16px;
    line-height: 25px;
}

.clients .text button{
    margin-top: 42px;
    color: #fff;
    background-color: #5cd2b8;
    padding: 18px 30px;
    border: none;
}

.clients .card{
    width: 32%;
    margin-top: 12%;
    background-color: #141414;
    height: 160px;
    padding: 40px 20px 200px 20px;
    position: relative;
    z-index: -1;
    
}

.clients .card p{
    color: #949494;
    font-size: 16px;
    line-height: 25px;
}

.clients .card .logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.clients .card .logo img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.clients .card .logo .prief h3{
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    /* letter-spacing: 4px; */
}

.clients .card .logo .prief h5{
    color: #52baa4;
    font-size: 12px;
    font-weight: 500;
}


/* news section */
    .news-section {
        text-align: center;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #000; /* خلفية سوداء */
        color: #fff;
        height: 120vh;
    }
    .section-header h2 {
        font-size: 45px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .news-section .section-header{
        padding-top: 8%;
    }
.news-section  .section-header h2::after{
    content: "";
    width: 88px;
    height: 3px;
    background-color: #5acfb6;
    display: block; /* Ensures it renders as a block-level element */
    margin-top: 15px;
    margin-bottom: 27px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
    .section-header h3 {
        margin-bottom: 20px;
        font-size: 16px;
        letter-spacing: 5px;
        color: #50c8b9;

    }
   
    
    .section-header .highlight {
        color: #50c8b9; /* لون مميز */
    }
    .section-header p {
        font-size: 15px;
        color: #969696;
        width: 800px;
        margin: 5px auto;
        line-height: 27px;
    }
    .news-cards {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        margin: 40px;
    }

    .news-cards .text{
        text-align: start;
        transform: translateX(-15px);
        width: 105%;
    }
    
    .news-card {
        background-color: #000000;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .news-card .text h3{
        font-size: 20px;
        width: 80%;
    }

    .news-card .text .test22{
        width: 90%;
    }
    .news-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .news-title {
        font-size: 18px;
        color: #50c8b9;
        margin: 15px;
    } 
    .news-description {
        font-size: 14px;
        color: #aaa;
        margin: 15px;
        line-height: 1.6;
    }
    .news-meta {
        display: flex;
        /* justify-content: space-between; */
        padding: 0 15px 15px;
        font-size: 12px;
        color: #50c8b9;
    }

    .news-meta span{
        color: #f9f9f9;
        font-size: 14px;
        margin-right: 22px;
        margin-top: 30px;
    }
    
    .news-meta span i {
        margin-right: 5px;
        color: #50c8b9;
    }
    /* ---------------------------------------------------------------------- */


    /* .sky-container {
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #0c0c0c; /* خلفية سوداء */
        /* color: #fff; */
    /* } */

    /* .sky-container .dot::after{
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 3px;
        background-color: #fff;
    }
    

    .cloud-box {
        display: flex;
        max-width: 1000px;
        width: 100%;
        gap: 40px;
        flex-wrap: wrap;
    }
    
    .rain-form  {
        background-color: #000000;
        padding: 20px;
        padding-bottom: 70px;
        flex: 1;
        border: solid 1px #50c8b9;
        min-width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
.rain-form h3{
    font-size: 14px;
    margin: 5px;
    color:#50c8b9 ;
}
    
    .rain-form form {
        display: flex;
        flex-direction: column;
    }
    
    .bold-header {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .blue-input, .big-message {
        background-color: transparent;
        border: 1px solid #50c8b9;
        padding: 20px;
        margin-bottom: 15px;
        color: #fff;
        font-size: 14px;
    }
    
    .big-message {
        height: 200px;
    }
    .click-btn {
        background-color: #50c8b9;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .click-btn:hover {
        background-color: #3aa396;
    }
    .sun-info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }    */ 

    /* line after */
    /* .sky-container .sun-info .header::after{
        content: "";
        display: block;
        width: 100px;
        height: 4px;
        background-color: #50c8b9;
    }
    .sub-header {
        font-size: 18px;
        text-transform: uppercase;
        color: #50c8b9;
        margin-bottom: 10px;
    }
    .bold-header span{
        color: #3aa396  
    }
    
    .info-paragraph {
        font-size: 14px;
        color: #aaa;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    .contact-details p h5 {
        font-size: 14px;
        line-height: 1.5;
    }
    .contact-details i {
        position: absolute;
        color: #50c8b9;
        margin-right: 10px;
        margin-left: -45px;
        margin-top: 0;
        font-size: 35px;
    }
.contact-details{
    margin: 40px;
    margin-top: 0px;
}

.sun-info .header h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #5cd2b8;
}

/* 5cd2b8 */

/* .sun-info .header h2{
    font-size: 40px;
    font-weight: 700;
}

.sun-info .header h2 span{
    color: #5cd2b8;
}
.sun-info .line {
    color: #50c8b9; 
}  */

.sky-container{
    height: 100vh;
    background-color: #0c0c0c;
    
}

.sky-container .cloud-box{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sky-container .rain-form{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #0c0c0c;
    padding: 5px;
    max-width: 35%;
    height: 75%;
    border: solid 2.4px #50c8b9;
}

.sky-container .sun-info{
    width: 35%;
    height: 67%;
    margin-left: 10px;
}

.sky-container .sun-info .text h3{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #5cd2b8;
    margin-bottom: 17px;
}

.sky-container .sun-info .text h2{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.sky-container .sun-info .text h2 span{
    color: #5cd2b8;
}

.sky-container .sun-info .text h2 span::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.sky-container .sun-info .text h2::after{
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #50c8b9;
    margin-bottom: 22px;
    margin-top: 16px;
    margin-left: 2px;
}

.sky-container .sun-info .text p{
    font-size: 14px;
    color: #949494;
    line-height: 27px;
    width: 82%;
}

.sky-container .contact-details .contact{
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
}

.sky-container .contact-details{
    margin-top: 50px;
}

.sky-container .contact-details .contact i{
    color: #50c8b9;
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 0;
    font-size: 41px;
}

.sky-container .contact-details .desc h5{
    font-size: 25px;
    color: #f6f6f6;
    margin-bottom: 11px;
}

.sky-container .contact-details .desc{
    transform: translateY(22px);
    margin-bottom: 20px;
}

.sky-container .rain-form form label{
    color: #56c4ad;
}

.sky-container .rain-form form .test12{
    margin-top: 23px;
    margin-left: 8px;
}

.sky-container .rain-form form .test15{
    margin-top: 18px;
    margin-left: 8px;
}

.sky-container .rain-form form .test15 textarea{
    background-color: #131313;
    outline: none;
    width: 98.5%;
    margin-top: 3px;
    height: 160px;
    border: solid 2px #4aa692;
}

.sky-container .rain-form form button{
    padding: 20px 36%;
    margin-left: 8px;
    margin-top: 15px;
    background-color: #5cd2b8;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 1px;
    font-size: 17px;
}
/* 131313 */

.sky-container .rain-form form input{
    background-color: #131313;
    width: 98.5%;
    height: 50px;
    outline: none;
    border: solid 2px #4aa692;
    margin-top: 3px;
}


.sky-container .contact-details .desc p{
    font-size: 14px;
    color: #4aa792;
    font-weight: 700;
}

/* إعدادات أساسية */
/* تصميم الـ footer */

footer{
    position: relative;
}

footer::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    left: 50%;
    transform: translateX(-70%);
    background-color: transparent;
    box-shadow: 0 0 800px 100px rgba(92, 210, 184, 0.3);
}
.footer-container{
    margin: 80px;
}
.footer-section {
    background-color: #000; /* الخلفية السوداء */
    text-align: center;
    padding: 30px 20px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: radial-gradient(ellipse 1100px 350px ,#081210 , #010202);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.footer-logo {
    font-size: 75px;
    font-weight: bold;
    color: #50c8b9; /* اللون الأخضر */
    margin: 0;
}

.footer-subtitle {
    font-size: 10px;
    letter-spacing: 5px;
    color: #f9f9f9; /* اللون الرمادي */
    margin: 0px 0 40px 0px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-nav li {
    display: inline;
    font-weight: 600;
}

.footer-nav a {
    color: #4bd2b8; /* اللون الأخضر */
    text-decoration: none;
    font-size: 18px;
    margin: 25px;
}

.footer-description {
    color: #f9f9f9; /* اللون الرمادي */
    font-size: 16px;
    line-height: 1.6;
    margin: 27px 0;
    padding-top: 26px;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.footer-social a {
    color: #50c8b9; /* اللون الأخضر */
    font-size: 26px;
    text-decoration: none;
    margin: 20px;
}

.footer-social a:hover {
    color: #44b0a2; /* لون عند التمرير */
}

.footer-copyright {
    font-size: 20px;
    color: #666; /* لون رمادي داكن */
    margin-top: 20px;
}